@import "bower_components/bootstrap/less/bootstrap";
@import "bower_components/bootstrap/less/variables";
@import (css) "flaticon/flaticon.css";

/*@border-radius-base: 0;
@nav-pills-active-link-hover-bg: #ddd;
@nav-pills-active-link-hover-color: #2c2c39;
@nav-link-hover-bg: #1b1b28;
@link-color: #ddd;
@link-hover-color: #eee;
*/

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-image: url(/assets/img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  margin-top: 10px;
}

h1 > a {
  color: #222;
  text-shadow: 1px 1px 2px #ccc;
}

h1 > a:hover {
  color: #369;
  text-decoration: none;
}

#menu-button {
  position: fixed;
  left: 20px;
  top: 16px;
  height: 30px;
  color: #ddd;
  line-height: 30px;
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
}

#menu-button:hover {
  color: #eee;
}

#imenu-button:before {
  font-size: 30px;
}

nav {
  background-color: #2c2c39;
  position: fixed;
  padding-right: 4px;
  position: fixed;
  left: -250px;
  padding-top: 100px;
  height: 100%;
  width: 250px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: 99;
}

nav.active {
  left: 0;
}

#navigation {
  list-style: none;
  line-height: 42px;
  margin: auto;
  padding-left: 0;
  width: 100%;
}

#navigation a {
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

#navigation a:hover {
  margin-left: 10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

#navigation li {
  box-shadow: 4px 0 rgba(110,133,162,.2) inset;
  margin-bottom: 5px;
  padding-left: 20px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;/*outline: 1px solid green*/
}

#navigation li:hover {
  box-shadow: 246px 0 rgba(110,133,162,.2) inset;
}

#navigation li.active {
  box-shadow: 246px 0 rgba(52,152,219,.2) inset;
}

#back-button {
  position: fixed;
  right: 20px;
  top: 16px;
  color: #ddd;
  cursor: pointer;
}

#iback-button:before {
  font-size: 40px;
}

.content {
  width: 100%;
  min-height: 100vh;
}

.display-center {
  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: 22px;
  margin-left: 0px;
  margin-right: 10px;
}

.lolipop {
  background: rgb(255,255,255);
  padding: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.9);
}

.feed-post {
  margin: 50px 0;
  max-height: 500px;
}

.feed-post-img {
  max-width: 40%;
  float: left;
}

.feed-post-img > img {
  max-height: 490px;
  max-width: 100%;
}

.feed-post-body {
  float: right;
  width: 58%;
  height: 100%;
}

.feed-post-body-noimg {
  width: 80%;
  float: left;
  height: 100%;
}

.feed-post-header {
  padding: 10px;
  margin-bottom: 15px;
}

.feed-post-header > a {
  color: black;
}

.feed-post-text {
  padding: 15px;
  position: relative;
}

.feed-post-text > p {
  margin-bottom: 0px;
  max-height: 100%;
  text-indent: 15px;
  overflow: hidden;
}

.full-post {
  margin: 50px 0;
  position: relative;
}

.full-post-img {
  max-height: 600px;
  max-width: 400px;
  margin: 0 0 30px 30px;
  float: right;
}

.full-post-img > img {
  background-color: white;
  max-width: 100%;
  padding: 5px;
}

.full-post-text {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.full-post-text > h1 {
  padding: 25px;
  padding-bottom: 10px;
  margin: 0px;
}

#full-post-tags {
  padding-bottom: 10px;
  padding-left: 25px;
}

.full-post-text > p {
  padding: 10px;
  text-indent: 15px;
}

#full-post-bg-1 {
  background: white;
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 1;
}

#full-post-bg-2 {
  background: white;
  position: absolute;
  width: 900px;
  z-index: 1;
}

.login {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
}