<div id="back-button">
  {{#link-to "feed" tagName="i" class="flaticon-left-arrow7" id="iback-button"}}
  {{/link-to}}
</div>

<div class="container lolipop">
  <div class="post-image"><img src={{model.image}}></div>
  <div class="post-text">
    <h1>{{model.title}}</h1>
    <p>{{model.text}}</p>
  </div>
</div>